/* Large devices (large desktops, 1200px and up) */
@media (min-width: 979px) and (max-width: 1200px)
	.schneider 
		.distribuidores 
			.box-distri 
				.txt-distri
					margin-left: 0
	.index 
		.marca-destacada 
			.grid-arti-marca 
				.item-arti-marca 
					a.btn-vermas-art
						left: 0
		.centro-de-aprendizaje-index 
			.grid-art-centro
				grid-gap: 30px








/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
	.schneider 
		.hero-landing 
			.txt-landing 
				h1
					font-size: 32px
		.conoce-productos 
			h2
				font-size: 22px
			.grid-conoce-prod
				grid-template-columns: 1fr 1fr
		.banner-asesoria 
			padding: 50px 0
			.flex-banner
				display: block
				.img-banner-ase
					display: none
				.flex-banner-as
					flex-flow: column
					justify-content: center
					align-items: center
					p
						margin: 20px 0
		.distribuidores 
			.box-distri
				display: block
				.img-distri
					margin: 0 auto
				.txt-distri
					margin-left: 0
					.txt-di 
						h2
							font-size: 22px
		&.tablero-schneider 
			.conoce-tablero 
				h2
					font-size: 25px

		&.tablero-schneidersm6
			.seguridad-confia 
				h2
					font-size: 25px
			.banner-ebook 
				.flex-banner-ebook 
					.txt-ebook 
						h2
							font-size: 25px
			.algunas-ventajas 
				h2
					font-size: 25px
				.ventajas-item
					display: block
					.img-ventaja
						max-width: 100%


	.index 
		.hero-index 
			.flex-hero-index
				flex-flow: column-reverse
				.txt-prod-acc
					width: 100%
				.img-banner-m
					width: 100%
		.marca-destacada 
			.grid-arti-marca 
				.item-arti-marca 
					a.btn-vermas-art
						left: 0
		.centro-de-aprendizaje-index 
			.grid-art-centro
				grid-gap: 30px
		.indicaciones 
			.grid-indicaciones
				grid-template-columns: 1fr 1fr
		.categorias-destacadas 
			.grid-categorias-destacadas
				grid-template-columns: 1fr 1fr 1fr
		.marca-destacada 
			.grid-arti-marca
				grid-template-columns: 1fr 1fr

	.tablero-schneider.ups 
		.algunas-ventajas 
			.grid-algunas-ventajas
				grid-template-columns: 1fr 1fr


	.catalogos 
		.catalogos-aei 
			.flex-catalogos-aei 
				.catalogos-aei-content 
					.catalogos-destacados 
						.grid-cat-dest
							grid-template-columns: 1fr 1fr
							.item-grid-cat-dest 
								h3
									font-size: 16px
					.catalagos-norm 
						ul 
							li 
								a
									font-size: 17px

		.form-buscas-catalago 
			.flex-buscas-cat 
				.txt-buscas 
					h2
						font-size: 30px

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
	.schneider 
		.hero-landing 
			.txt-landing 
				h1
					font-size: 32px
		.conoce-productos 
			h2
				font-size: 22px
			.grid-conoce-prod
				grid-template-columns: 1fr 1fr
		.banner-asesoria 
			padding: 50px 0
			.flex-banner
				display: block
				.img-banner-ase
					display: none
				.flex-banner-as
					flex-flow: column
					justify-content: center
					align-items: center
					p
						margin: 20px 0
		.distribuidores 
			.box-distri
				display: block
				.img-distri
					margin: 0 auto
				.txt-distri
					margin-left: 0
					.txt-di 
						h2
							font-size: 22px
		.ponte-contacto 
			h2
				font-size: 22px
			p
				font-size: 18px
		.principales-industrias 
			h2
				font-size: 22px
			.grid-indus-prin
				grid-template-columns: 1fr 1fr
				.item-grid-indus 
					h3
						font-size: 16px

		&.tablero-schneider 
			.conoce-tablero 
				h2
					font-size: 22px
				.tableros 
					.tablero-item 
						.body-tablero
							.flex-body-tab
								display: block
								.txt-body-tablero
									max-width: 100%
								.txt-img-tablero
									margin-top: 20px
									max-width: 100%

		&.tablero-schneidersm6
			.seguridad-confia 
				h2
					font-size: 25px
				.box-seguridad
					padding: 40px 30px
			.banner-ebook 
				.flex-banner-ebook 
					.txt-ebook 
						h2
							font-size: 25px
			.algunas-ventajas 
				h2
					font-size: 25px
				.ventajas-item
					display: block
					.img-ventaja
						max-width: 100%

		&.tab-dist 
			.secc-tab-dis 
				h2
					font-size: 21px!important

	.schneider.acondicionadores 
		.caracteristicas 
			.flex-caracteristicas 
				flex-flow: column-reverse
				.img-caracteristicas
					margin: 30px auto 0


	.index 
		.hero-index 
			.flex-hero-index
				flex-flow: column-reverse
				.txt-prod-acc
					width: 100%
				.img-banner-m
					width: 100%
		.marca-destacada 
			.grid-arti-marca 
				.item-arti-marca 
					a.btn-vermas-art
						left: 0
		.centro-de-aprendizaje-index 
			.grid-art-centro
				grid-gap: 30px
				grid-template-columns: 1fr 1fr
		.indicaciones 
			.grid-indicaciones
				grid-template-columns: 1fr 1fr
		.categorias-destacadas 
			.grid-categorias-destacadas
				grid-template-columns: 1fr 1fr 1fr
		.marca-destacada 
			.grid-arti-marca
				grid-template-columns: 1fr 1fr

		.experiencia-respaldan 
			.flex-experiencias
				display: block
				.txt-experiencias
					margin: 0 auto 30px
				.img-sliders
					margin: 0 auto

	.tablero-schneider.ups 
		.algunas-ventajas 
			.grid-algunas-ventajas
				grid-template-columns: 1fr 1fr


	.catalogos 
		.catalogos-aei 
			.flex-catalogos-aei 
				display: block
				.menu-cat-aei
					margin: 0 auto 30px
				.catalogos-aei-content 
					.catalogos-destacados
						h2 
							text-align: center
						.grid-cat-dest
							grid-template-columns: 1fr 1fr
							.item-grid-cat-dest 
								h3
									font-size: 16px
					.catalagos-norm 
						ul 
							li 
								a
									font-size: 17px

		.form-buscas-catalago 
			.flex-buscas-cat 
				.txt-buscas 
					h2
						font-size: 30px


/* Landscape phones and down */
@media (max-width: 480px)
	.schneider 
		.hero-landing
			background-position: center left
			.txt-landing 
				h1
					font-size: 28px
					text-align: center
				p
					font-size: 17px
					text-align: center
				a.btn-aseso
					margin: 0 auto
					font-size: 16px
		.conoce-productos 
			.grid-conoce-prod
				grid-template-columns: 1fr
		.banner-asesoria 
			.flex-banner 
				.txt-banner-aseso 
					h2
						font-size: 22px
						text-align: center
					p
						text-align: center
						font-size: 16px
		.distribuidores 
			.box-distri 
				.txt-distri
					padding: 40px 25px
					img
						margin: 0 auto 30px
					p
						text-align: center
		.ponte-contacto 
			p
				font-size: 16px

		&.tablero-schneider 
			.conoce-tablero 
				.tableros 
					.tablero-item 
						.head-tablero 
							padding: 20px 15px
							h3
								font-size: 18px
						.body-tablero
							padding: 25px 15px
							.flex-body-tab 
								.txt-body-tablero 
									h3
										font-size: 16px

		&.tablero-schneidersm6
			.seguridad-confia 
				h2
					font-size: 22px
				.box-seguridad
					display: block
					.txt-seguridad
						margin: 0 auto 30px
					.img-seguridad
						margin: 0 auto
			.banner-ebook 
				.flex-banner-ebook 
					display: block
					.img-ebook
						margin: 0 auto 30px
					.txt-ebook 
						margin: 0 auto
						h2
							font-size: 22px
							text-align: center
						h3
							text-align: center
						a.btn-descargarb
							margin: 0 auto

			.algunas-ventajas 
				h2
					font-size: 22px
				.ventajas-item 
					.img-ventaja 
						padding: 40px 30px
						h3
							font-size: 18px
					.txt-ventaja
						padding: 40px 30px
						h3
							font-size: 16px
						ul
							li
								font-size: 15px
						p
							font-size: 15px
		&.prolec 
			.distribuidores-pro 
				.flex-distri
					flex-flow: column
					.txt-distri
						margin: 0 auto
						h2
							font-size: 22px
							text-align: center
						p
							font-size: 14px
							text-align: center
					.img-distri
						margin: 20px auto 0

		&.gab-rittal 
			.banner-ebook-cat 
				.banner-book-b2
					flex-flow: column
					.img-ebook
						margin: 0 auto 30px
					.txt-ebookb2 
						h3
							text-align: center
						h2
							font-size: 20px!important
							text-align: center
						.btn-ebook
							margin: 0 auto

			&.rittal
				.lineas-de-prod-dispo 
					h2
						font-size: 20px!important
						margin-bottom: 50px
					.grid-lineas-prod
						grid-template-columns: 1fr
						.item-lineas-prod 
							.body-rittal 
								p
									font-size: 15px!important

		&.tab-dist 
			.secc-tab-dis 
				h2
					font-size: 18px!important
			.tablero-dis-secc 
				.flex-tablero-dis
					flex-flow: column
					.txt-tablero-dis
						margin-bottom: 30px 
						h2
							font-size: 18px!important

	.schneider.acondicionadores 
		.hero-landing
			padding: 50px 0
		.aplicaciones-voltaje 
			.grid-aplicaciones-voltaje
				grid-template-columns: 1fr

	.index 
		.hero-index 
			.flex-hero-index 
				.txt-prod-acc
					padding: 50px 20px
					h1
						text-align: center
						font-size: 28px
					h2
						font-size: 20px
						text-align: center
					ul
						li
							font-size: 16px
		.indicaciones 
			.grid-indicaciones 
				.item-grid-indicaciones 
					h3
						font-size: 17px
					p
						font-size: 15px!important

		.categorias-destacadas 
			h2
				font-size: 22px
			p.title-p
				font-size: 16px!important
			.grid-categorias-destacadas
				grid-template-columns: 1fr 1fr
				.item-catego-dest 
					h3
						font-size: 16px
						margin-bottom: 25px
		.marca-destacada 
			h2
				font-size: 22px
			p.marca-mes
				font-size: 17px!important
				line-height: 160%!important
			.grid-arti-marca
				grid-template-columns: 1fr
				.item-arti-marca 
					padding: 25px 20px 25px
					h3
						font-size: 18px
					h4.brand-art
						font-size: 17px
					p
						font-size: 15px!important
					a.btn-vermas-art
						position: static

		.centro-de-aprendizaje-index 
			h2
				font-size: 22px
			p.p-aprd
				font-size: 17px!important
				line-height: 160%
			.grid-art-centro
				grid-template-columns: 1fr
				.item-art-centro 
					.body-art-centro 
						padding: 20px
						h3
							font-size: 18px

		.experiencia-respaldan 
			.flex-experiencias 
				display: block
				.txt-experiencias
					margin: 0 auto 30px 
					h2
						font-size: 22px
						text-align: center
					.txt-exp
						padding-left: 20px
						p 
							font-size: 18px!important


		.suscribete-boletin 
			.box-suscribe
				padding: 40px 20px
				h2
					font-size: 18px
					line-height: 160%
					text-align: center

		.nuestras-marcas
			padding: 50px 0
			h2
				font-size: 22px
			.grid-marcas-line
				grid-template-columns: 1fr 1fr
			.slider-marcas
				max-width: 280px
				width: 100%
				margin: 40px auto 0
				.itemslide-marca
					margin: 0 auto
					a
						img
							max-width: 100px
							width: 100%
							margin: 0 auto

	.tablero-schneider.ups 
		.algunas-ventajas 
			.grid-algunas-ventajas
				grid-template-columns: 1fr
				.item-ventajas
					margin: 0 auto


	.catalogos 
		.hero-catalagos 
			h1
				font-size: 30px!important
		.catalogos-aei 
			.flex-catalogos-aei 
				.catalogos-aei-content 
					.catalogos-destacados 
						h2
							font-size: 22px
						.grid-cat-dest 
							.item-grid-cat-dest
								padding: 25px 7px
								a.btn-descargar-ct
									font-size: 14px
									padding: 12px 0

					.catalagos-norm 
						h2
							font-size: 22px
						ul 
							li 
								a
									font-size: 15px


		.form-buscas-catalago 
			.flex-buscas-cat
				flex-flow: column
				.txt-buscas
					max-width: 100%
					margin: 0 auto 40px
					h2
						font-size: 22px
						text-align: center
					.block-ind
						margin: 20px auto
					p
						text-align: center
						font-size: 15px



























