.schneider
	.hero-landing
		background: linear-gradient(180deg, #1D1D1D 0%, #383838 100%)
		padding: 80px 0
		background
			size: cover
			position: center center
			repeat: no-repeat

		.text-landing
			max-width: 602px
			width: 100%
			h1
				color: white
				//tamaño de las letras
				font-size: 30px!important
				margin-bottom: 15px
				//separacion entre el texto
				line-height: 160%
				//grosor de las letras
				font-weight: 700px!important
			p
				color: white
				font-size: 16px!important
				line-height: 160%!important
				margin-bottom: 20px
			a
				//es para bloquear y ver mejor los cambios
				display: block
				background-color: #FCD61C
				color: #1D1D1D
				//pordes redondos
				border-radius: 10px
				font-size: 16px
				width: 100%
				max-width: 173px
				text-align: center
				font-weight: 700
				padding: 7px 0
				border: 3px solid #FCD61C
				&:hover
					// hace que cambie de color cuando el cursor pasa sobre
					background-color: white
					border: 3px solid yellowgreen

	

	.conoce-productos
		padding: 50px 0

		h2
			color: black
			text-align: center
			max-width: 870px
			width: 100%
			margin: 0 auto 50px
			font-size: 21px
			line-height: 160%

		.grid-conoce-prod
			display: grid
			//hace la separacion de columnas en 3
			grid-template-columns: 1fr 1fr 1fr
			//espacio que hay entre cada columna
			grid-gap: 30px
			.item-grid-conoce
				max-width: 427px
				width: 100%
				background: #FFFFFF
				border: 1px solid #EFEFEF
						//	x	y 	z
				box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2)
				transition: all .2s
				&:hover
					box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3)
					transition: all .2s

				.head-title-prod
					padding: 30px 15px
					h3
						text-align: center
						font-size: 18px
						color: #4D4D4D
						font-weight: 700
				.img-tab-produ
					padding: 0 20px
					img-margin: 0 auto
				.body-prod-grid
					padding: 30px 15px
					p
						text-align: center
						color: #444444
						font-size: 15px!important
						font-weight: 400
						margin-bottom: 30px
					a 
						display: block
						background-color: #FCD61C
						color: black
						max-width: 111px
						width: 100%
						margin: 0 auto
						padding: 13px
						text-align: center
						font-size: 14px
						font-weight: 700
						border-radius: 10px
						border: 1px solid #FCD61C
						&:hover
							background-color: white
							border: 1px solid yellowgreen
							box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3)
							color: black
	.principales-industrias
		padding: 50px
		background-color: #F4F4F4
		h2
			text-align: center
			color: black
			font-size: 24px
			font-weight: 600
			line-height: 150%
			margin: 0 auto 40px
		.grid-indus-prin
			display: grid 
			grid-template-columns: 1fr 1fr 1fr 1fr
			grid-gap: 30px
			.item-grid-indus
				margin: 0 auto
				width: 100%
				max-width: 167px
				img 
					margin: 0 auto 25px
				h3
					font-size: 18px
					font-weight: 600
					text-align: center
					color: black
