@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes uptodown {
  0% {
    -webkit-transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes uptodown {
  0% {
    -webkit-transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #FAFAFA;
  position: relative;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: initial;
  overflow-x: unset !important;
}
body.no_scroll {
  overflow: hidden;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body span {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body .img-responsive {
  display: block;
  max-width: 100%;
}
body .content {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
body .content:before {
  display: table;
  content: "";
}
body .content:after {
  display: table;
  content: " ";
  clear: both;
}
body a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:focus {
  text-decoration: none;
}

::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.schneider .hero-landing {
  background-image: url("https://cdn.shopify.com/s/files/1/0571/5899/2039/files/img-bg-prod-schneider.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.schneider .hero-landing .text-landing {
  max-width: 602px;
  width: 100%;
}
.schneider .hero-landing .text-landing h1 {
  color: white;
  font-size: 30px !important;
  margin-bottom: 15px;
  line-height: 160%;
  font-weight: 700px !important;
}
.schneider .hero-landing .text-landing p {
  color: white;
  font-size: 16px !important;
  line-height: 160% !important;
  margin-bottom: 20px;
}
.schneider .hero-landing .text-landing a {
  display: block;
  background-color: #FCD61C;
  color: #1D1D1D;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 173px;
  text-align: center;
  font-weight: 700;
  padding: 7px 0;
  border: 3px solid #FCD61C;
}
.schneider .hero-landing .text-landing a:hover {
  background-color: yellowgreen;
  border: 3px solid yellowgreen;
}
.schneider .conoce-productos {
  padding: 50px 0;
}
.schneider .conoce-productos h2 {
  color: black;
  text-align: center;
  max-width: 870px;
  width: 100%;
  margin: 0 auto 50px;
  font-size: 21px;
  line-height: 160%;
}
.schneider .conoce-productos .grid-conoce-prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

/*# sourceMappingURL=mainstyle.css.map */
